* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Impede a rolagem horizontal */
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #1b1b1f;
    color: #dfdfd6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: #1b1b1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 100%;
    margin-bottom: 30px;
}

.header-title {
    margin: 0;
    font-size: 27px;
    color: #747edf;
}

.header-logo {
    max-width: 160px;
    padding: 10px;
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.instruction {
    margin-bottom: 20px;
    font-size: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    justify-content: center;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    background-color: #46474b; /* Define a cor de fundo */
    color: #ffffff; /* Define a cor do texto */
}

input[type="number"] {
    max-width: 70px;
}

.text-size-label {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #40467c;
    color: #dfdfd6;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    width: auto; /* Ajusta a largura automaticamente pelo conteúdo */
}

button:hover {
    background-color: #747edf;
}

#generate-code {
    background-color: #40467c;
}

#generate-code:hover {
    background-color: #a2a6f2;
}

#generate-code {
    margin-bottom: 30px;
}

.code-output, .text-output {
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202127;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    width: 80%;
    max-width: 400px;
    text-align: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
}

.popup.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup.hide {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
}

.popup label, .popup input[type="text"], .popup input[type="color"], .popup button {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.checkbox-container label {
    margin: 0 10px 0 0;
}

.reset-btn {
    background-color: #e74c3c;
}

.reset-btn:hover {
    background-color: #c0392b;
}

.instruction-text {
    margin-top: 20px;
    color: #747edf;
    text-align: center;
    padding: 10px;
    border: 1px solid #747edf;
    border-radius: 5px;
    background-color: #202127;
    width: 80%;
    max-width: 600px;
}

@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    .input-container, .code-output, .text-output, .popup, .instruction-text {
        width: 90%;
    }

    button {
        max-width: none;
    }

    .style-btn {
        max-width: 50px;
    }
}

.instruction-text a {
    color: #f0f8ff; /* Cor de roxo claro */
    text-decoration: none; /* Remove sublinhado padrão */
}

.instruction-text a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

#presets-container {
    text-align: center;
    margin-top: 20px;
}

#presets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.preset-block {
    border: 1px solid #747edf;
    padding: 10px;
    border-radius: 5px;
    background-color: #202127;
    color: #fff;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.preset-block:hover {
    background-color: #30303a;
}

.preset-block p {
    margin-bottom: 10px;
}
